.form {
  position: relative;
  display: flex;
  margin: 1em;
}

.input {
  width: 100%;
  font-size: 1em;
  padding: 0.5em;
  border-radius: 0.5em;
  border: none;
}

.input:focus {
  outline: none;
}

.button {
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding: 0 1.5em;
  font-size: 1em;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}