:root {
  --color-main: #ff8930;
  --color-button: #ededed;
  --color-header: #ebebeb;
  --color-bg: #f4f4f4;
  --color-font: #0d0e4f;
}

.dark {
  --color-header: #080a4a;
  --color-bg: rgba(5,5,85,0.88);
  --color-font: #e0e0e0;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.48);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}